POSTGRES_DB=control_drogas
POSTGRES_USER=user
POSTGRES_PASSWORD=definir-password-fuerte

DATABASE_URL=postgresql+asyncpg://user:definir-password-fuerte@db:5432/control_drogas
API_KEY=clave-secreta-minimo-32-caracteres
EMAIL_PASSWORD=password-smtp
FRONTEND_URLS=https://control.lionapp.cloud

VITE_API_URL=https://control.lionapp.cloud
VITE_API_KEY=clave-secreta-minimo-32-caracteres
VITE_EMPRESA_NOMBRE=Clinica Monte Grande
VITE_EMPRESA_LOGO_URL=https://clinicamg.com.ar/wp-content/uploads/2025/08/logos-azul.png
